# Docker Configure

DATA_DIR=/

ENV_DOMAIN_NAME=transcenders.42.fr

FRONTEND_HOST_PORT=5173
FRONTEND_CONTAINER_PORT=5173

BACKEND_HOST_PORT=8080
BACKEND_CONTAINER_PORT=8080

REDIS_HOST_PORT=6379
REDIS_CONTAINER_PORT=6379

# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
JWT_ACCESS_SECRET="FQJH1Fh/yGZuqYyRkTK4pemzZF1pEX0hjbAnWcvxOLA="
JWT_REFRESH_SECRET="lOhCGrbX6haACZZfzERYyia6conx7VhbNiphITO52GY="
JWT_TMP_AUTH_SECRET="r2ke4j+PYjNzpcOHtO+As1kl1uHEDF/xE+zSo6HZL9k="

# OIDC Credentials
FT_CLIENT_ID=""
FT_CLIENT_SECRET=""

# Deployer info
FUJI_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
WALLET_PRIVATE=""
