# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
JWT_ACCESS_SECRET="FQJH1Fh/yGZuqYyRkTK4pemzZF1pEX0hjbAnWcvxOLA="
JWT_REFRESH_SECRET="lOhCGrbX6haACZZfzERYyia6conx7VhbNiphITO52GY="
